# Dependencies
node_modules/

# Build outputs
dist/
.output/
.nuxt/
.nitro/
.cache/

# Environment
.env
.env.*
!.env.example

# Logs & OS
*.log
Thumbs.db
.DS_Store

# Test & build metadata
coverage/
*.tsbuildinfo

# Editor
.idea/
.vscode/
*.local

# Playwright and test reports
test-results/
playwright-report/
